Source: libcod-usermessage-perl
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: perl

Package: libcod-usermessage-perl
Section: perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}
Description: COD message formatting module for Perl language
 <insert long description, indented with spaces>
