Source: libgetoptions0
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libcexceptions0
Standards-Version: 3.9.8
Section: libs

Package: libgetoptions0
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Command line argument processing library for C
 <insert long description, indented with spaces>
