#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SRC_DIR = src/externals/cexceptions
vendorarch = $(shell perl -le 'use Config; print $$Config{vendorarch}')
vendorlib  = $(shell perl -le 'use Config; print $$Config{vendorlib}')

%:
	dh $@ --sourcedirectory ${SRC_DIR}

override_dh_auto_build:
	${MAKE} PACKAGE=cexceptions EXTRA_LIB_DIRS=lib \
		--directory src/externals/cexceptions
	${MAKE} PACKAGE=getoptions EXTRA_LIB_DIRS=../cexceptions/lib \
		--directory src/externals/getoptions
	${MAKE} --directory src/components/codcif
	${MAKE} --directory src/lib/perl5/COD/CIF/Parser/Bison
	${MAKE} --directory src/lib/perl5/COD/CIF/Parser/Yapp
	${MAKE} --directory src/components/pycodcif

override_dh_auto_test:
	${MAKE} PACKAGE=cexceptions EXTRA_LIB_DIRS=lib test --directory ${SRC_DIR}

override_dh_auto_install:
	${MAKE} install PREFIX=../../../debian/libcexceptions0/usr \
		PACKAGE=cexceptions EXTRA_LIB_DIRS=lib \
		--directory src/externals/cexceptions
	${MAKE} install PREFIX=../../../debian/libgetoptions0/usr \
		PACKAGE=getoptions EXTRA_LIB_DIRS=lib \
		--directory src/externals/getoptions
	${MAKE} install PREFIX=../../../debian/codcif/usr \
		--directory src/components/codcif

	mkdir -p debian/libcod-cif-parser-bison-perl/${vendorlib}/COD/CIF/Parser
	mkdir -p debian/libcod-cif-parser-bison-perl/${vendorarch}/auto/COD/CIF/Parser/Bison
	install --mode 640 src/lib/perl5/COD/CIF/Parser/Bison/lib/COD/CIF/Parser/Bison.pm \
	    debian/libcod-cif-parser-bison-perl/${vendorlib}/COD/CIF/Parser/
	install --mode 640 src/lib/perl5/COD/CIF/Parser/Bison/lib/auto/COD/CIF/Parser/Bison/Bison.so \
	    debian/libcod-cif-parser-bison-perl/${vendorarch}/auto/COD/CIF/Parser/Bison/

	mkdir -p debian/libcod-cif-parser-yapp-perl/${vendorlib}/COD/CIF/Parser
	install --mode 640 src/lib/perl5/COD/CIF/Parser/Yapp/lib/COD/CIF/Parser/Yapp.pm \
	    debian/libcod-cif-parser-yapp-perl/${vendorlib}/COD/CIF/Parser/

	mkdir -p debian/libcod-precision-perl/usr/share/perl5/COD/
	install src/lib/perl5/COD/Precision.pm debian/libcod-precision-perl/usr/share/perl5/COD/

	mkdir -p debian/libcod-usermessage-perl/usr/share/perl5/COD/
	install src/lib/perl5/COD/UserMessage.pm debian/libcod-usermessage-perl/usr/share/perl5/COD/

	${MAKE} -f Makelocal-SWIG-module install PREFIX=../../../debian/pycodcif/usr \
		--directory src/components/pycodcif
