Source: libcod-cif-parser-bison-perl
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Homepage: http://wiki.crystallography.net/cod-tools/
Build-Depends: debhelper (>= 8.0.0), codcif, libcexceptions0
Standards-Version: 3.9.3
Section: perl

Package: libcod-cif-parser-bison-perl
Section: perl
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends},
    ${misc:Pre-Depends}, libcod-precision-perl, libcod-usermessage-perl
Description: Python bindings for CIF parser in C language
 COD::CIF::Parser:Bison, Perl bindings for Crystallographic Information
 Format (CIF) parser, which is written in C language, and developed by
 the Crystallography Open Database. A CIF format file is represented by
 an array of data blocks, where each data block is represented by a hash.
