Source: codcif
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libcexceptions0, libgetoptions0
Standards-Version: 3.9.8
Section: libs

Package: codcif
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Description: error-fixing CIF 1.1 parser
 Parser for Crystallographic Information Format (CIF), written in C
 language. A CIF format file is represented by an array of data blocks,
 where each data block is represented by a CIF struct.
