Source: codcif
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libcexceptions0, libgetoptions0
Standards-Version: 3.9.3
Section: libs

Package: codcif
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Description: CIF parser in C language
 Parser for Crystallographic Information Format (CIF), written in C
 language. A CIF format file is represented by an array of data blocks,
 where each data block is represented by a CIF struct.
