Source: pycodcif
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Homepage: http://wiki.crystallography.net/cod-tools/
Build-Depends: debhelper (>= 9.0.0), codcif, libgetoptions0, libcexceptions0,
    python2.7, python | python-all | python-dev | python-all-dev, dh-python
Standards-Version: 3.9.8
Section: libs

Package: pycodcif
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, ${python:Versions}
Description: error-fixing CIF 1.1 parser - Python bindings
 Python bindings for Crystallographic Information Format (CIF) parser,
 which is written in C language, which is written in C language, and
 developed by the Crystallography Open Database. A CIF format file is
 represented by a list of data blocks, where each data block is
 represented by a dictionary.
