Source: libcod-precision-perl
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Homepage: http://wiki.crystallography.net/cod-tools/
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: perl

Package: libcod-precision-perl
Section: perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}
Description: COD precision handling module for Perl language
 COD::Precision, module for handling precision in Crystallographic
 Information Format (CIF) notation.
