Source: libcod-cif-parser-yapp-perl
Priority: extra
Maintainer: Andrius Merkys <andrius.merkys@gmail.com>
Homepage: http://wiki.crystallography.net/cod-tools/
Build-Depends: debhelper (>= 9.0.0), libparse-yapp-perl
Standards-Version: 3.9.8
Section: perl

Package: libcod-cif-parser-yapp-perl
Section: perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libcod-precision-perl,
    libcod-usermessage-perl
Description: error-fixing CIF 1.1 parser - YAPP implementation
 COD::CIF::Parser:Yapp, YAPP implementation of error-fixing
 Crystallographic Information Format (CIF) parser, which is developed by
 the Crystallography Open Database. A CIF format file is represented by
 an array of data blocks, where each data block is represented by a hash.
